*{
    margin: 0px;
    padding: 0px;
}
body
{
    
    width: 1000px;
    background: #eeeeee;
    margin: 0;
}
main
{
    border: solid 1px #000000;
}

area{
    border:none;
    outline:none;
}
h1{
    text-align: center;
}

