*{
    margin: 0px;
    padding: 0px;
}
body
{
    width:800px;
    background: #eeeeee;
    margin: 0 auto;
}
.main
{
    width: 800px;
    border:solid 3px #0000ff;
    margin: 0 auto;
}

area{
    border:none;
    outline:none;
}
h1{
    text-align: center;
}

