*{
    margin: 0px;
    padding: 0px;
}
body,footer
{
    width:800px;
    background: #eeeeee;
    margin: 0 auto;
}
.main
{
    
}

area{
    border:none;
    outline:none;
}
h1{
    text-align: center;
}

